=simple_form_for(@assignment,html:{multipart: true}) do |f|

	=f.input :topic, label: "Title",placeholder:"What is your Assignment About?"
	=f.input :description, label: "Description", placeholder:"Describe your Assignment"
	%h2 Images

	#tasks
	=f.simple_fields_for :aimages do |pimage|
		=render "aimage_fields", f: pimage
	.links
		=link_to_add_association "Add Images",f, :aimages, class:"btn btn-success"
	%br
	=f.submit class:"btn btn-success"