<% title "Trending Assignment" %>
<% keywords "Assignments, Free, BitNotes, Education, Sharing, Caring, Earn, Learn" %>
<% description " Free Trending Assignments from BitNotes" %>
<% author "BitNotes"%>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="main-grids">
		<div class="recommended">
			<div class="recommended-grids">
				<%= render "shared/bitvertiser" %>
	<% if current_user && current_user.college_id.present? %>
				<div class="recommended-info">
					<h3>Recommended</h3>
				</div>
				<% @rassignments.each do |assignment| %>
					<%= render partial:"shared/assignment",locals:{assignment: assignment} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<hr>
		<div class="recommended">
			<div class="recommended-grids">

	<% end %>
                <div class="recommended-info">
					<h3>Assignments</h3>
				</div>
				<% @recentAssignments.each do |assignment| %>
					<%= render partial: "shared/assignment",locals:{assignment: assignment} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
