= simple_form_for(@user, html:{multipart: true}) do |f|
  =f.input :name,label:"Creators Name",placeholder:"Your name"
  =f.input :phname,label:"Publication Name",hint:"Name of Your Publishing House",placeholder:"Publication Name"
  =f.input :avatar, input_html:{class:"btn btn-success"}
  =f.input :cover, input_html:{class:"btn btn-success"}
  =f.input :college_id,collection: College.all,label:"Institute",prompt:"Choose Institute related to you",hint:"If Institute not Found,add Your Institute via Upload Link Above",label:"Institute Name"
  =f.input :intro,label:"Introduction",hint:"Short Introduction of your House"
  =f.input :description,label:"Description",hint:"Long Description of your House"
  =f.input :fblink,label:"Facebook Social Link",hint:"Optional",placeholder:"Link to your Facebook Page" 
  =f.input :googlelink,label:"Google+ Social Link",hint:"Optional",placeholder:"Link to your Google+ Page"
  =f.input :twitterlink,label:"Twitter Social Link",hint:"Optional",placeholder:"Link to your Twitter Handle"
  =f.input :pinterestlink,label:"Pinterest Social Link",hint:"Optional",placeholder:"Link to your Pinterst Account" 
  =f.input :instagramlink,label:"Instagram Social Link",hint:"Optional",placeholder:"Link to your Instagram Account"
  =f.submit class:"btn btn-primary"
