<div class="upload">
	<!-- container -->
	<div class="container">
		<div class="upload-grids">
	
			<%= render "form" %>
			
			<%= render "shared/help" %>
			
		</div>
	</div>
	<!-- //container -->
</div>
