<% unless current_user?(@user) %>
	<div id="<%="follow_form#{fi}"%>">
		<% if subscribed?(@user) %>
			<%= render partial:'shared/unsubscribe',locals:{fi: fi} %>
		<% else %>
			<%= render partial:'shared/subscribe',locals:{fi: fi} %>
		<% end %>
	</div>
<% end %>
