<% unless current_user?(@user) %>
	<div id="follow_form">
		<% if subscribed?(@user) %>
			<%= render 'shared/unsubscribe' %>
		<% else %>
			<%= render 'shared/subscribe' %>
		<% end %>
	</div>
<% end %>
