<% @other_user = User.find(params[:id]) %>
<% unless current_user?(@other_user) %>
	<div id="follow_form">
		<% if subscribed?(@other_user) %>
			<%= render 'shared/unsubscribe' %>
		<% else %>
			<%= render 'shared/subscribe' %>
		<% end %>
	</div>
<% end %>
