=simple_form_for(@request) do |f|
	=f.input :topic,label:"Topic",placeholder:"What is this Request About?"
	%br/
	=f.input :subject_id,collection: Subject.all,prompt: "Choose a Subject",label:"Subject",hint:"If subject is not Included, Add Subject via Upload Link in Above"
	%br/
	=f.input :type_id,collection:[['Practical',1],['Examnote','2'],['Assignment','3'],['Paper',4]],selected: 'Practical'
	%br/
	=f.input :description
	%br/
	=f.submit class:"btn btn-success"
