=simple_form_for(@practical,html:{multipart: true}) do |f|

	=f.input :title, label: "Title",placeholder:"What is your Practical About?"

	=f.input :aim, label: "Aim", placeholder: "What is Aim of the Practical?"

	=f.input :subject_id,collection: Subject.all,prompt: "Choose Subject of Practical",label:"Subject Name",hint:"If Subject not Found,add Subject via Upload Link Above"

	=f.input :college_id,collection: College.all,label:"Institute",prompt:"Choose Institute related to Practical",hint:"If Institute not Found,add Your Institute via Upload Link Above",label:"Institute Name"

	=f.input :description, label: "Description", placeholder:"Describe your Practical",input_html:{class:'tinymce'},hint:"Describe above Practical"
	%h2 Images

	#tasks
	=f.simple_fields_for :pimages do |pimage|
		=render "pimage_fields", f: pimage
	.links
		=link_to_add_association "Add Images",f, :pimages, class:"btn btn-success"
	%br
	=f.submit class:"btn btn-primary"
