<% title "Trending Practicals" %>
<% keywords "Practicals, Free, BitNotes, Education, Sharing, Caring, Earn, Learn" %>
<% description " Free Trending Practicals from BitNotes" %>
<% author "BitNotes" %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="main-grids">
		<div class="recommended">
			<div class="recommended-grids">
				<%=  render "shared/adsense" %>
	<% if current_user && current_user.college_id.present? %>
				<div class="recommended-info">
					<h3>Recommended</h3>
				</div>
				<% @rpracticals.each do |practical| %>
					<%= render partial:"shared/practical", locals:{practical: practical} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<hr>
		<div class="recommended">
			<div class="recommended-grids">
	<% end %>
				<div class="recommended-info">
					<h3>Practicals</h3>
				</div>
				<% @recentPracticals.each do |practical| %>
					<%= render partial: "shared/practical", locals:{practical: practical} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>