=simple_form_for(@subject,html:{multipart: true}) do |f|
	=f.input :name,placeholder:"What is name of Subject?"
	%h2 Images

	#tasks
	=f.simple_fields_for :simages do |simage|
		=render "simage_fields", f: simage
	.links
		=link_to_add_association "Add Images",f, :simages, class:"btn btn-success"
	%br
	=f.submit class:"btn btn-primary"
