<% title "Edit Subject" %>
<div class="upload">
	<!-- container -->
	<div class="container">
		<div class="upload-grids">
			<div>
				<% if @subject.errors.any? %>
					<div class="alert alert-danger alert-dismissible" role="alert">
					   	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true	">&times;</span></button>
						<h2><%= pluralize(@subject.errors.count, "Error")%> prevented this Subject from saving</h2>
						<ul>
							<% @subject.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end%>
						</ul>
					</div>
				<% end %>
			</div>
		
			<%= render "form" %>
			
			<%= render "shared/help" %>
			
		</div>
	</div>
	<!-- //container -->
</div>
