<div class="upload">
	<!-- container -->
	<div class="container">
		<div class="upload-grids">
			<div class="upload-right">
				<div class="upload-info">
					<h1>New Subject</h1>
						<%= render "form" %>
					<br>
					<%=link_to "Back",:back,class:"btn btn-danger" %>
				</div>
			</div>
			
			<%= render "shared/help" %>
			
		</div>
	</div>
	<!-- //container -->
</div>
