<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="show-top-grids">
		<div class="main-grids about-main-grids">
			<div class="recommended-info">
				<h3 style="color:#00c2dc">About BitNotes</h3>
				<p class="history-text"> BitNotes went Live on <strong>23<sup>rd</sup> April, 2016</strong>. As <strong>Indian Institute of Information Technology</strong> is famous for lot of creative work, again in 2016 to promote this Culture, IIITA organized <strong>Hack In the North</strong> largest student organized Hackathon in India. BitNotes is fruit of Hack In the North. BitNotes is platform for sharing Practicals, Assignments, Papers, Class Notes etc with community of student who are always tested with submission deadlines, practical completions. We believe sharing above stuff is more about happiness and satisfaction which comes out helping each other. We believe sharing is solution to lot of issues in the chaotic world. When we share, we spread happiness, we tie new relations of brotherhood with unknown people. 
				<span>We are fascinated by idea of people helping each other with whatever resources that could simplify each other problems. This ties new relation  between students of different institutes, leading to concurrence of different teaching techniques at single platform. That sounds really cool, we are able to access resources of vast spread universities of world with ease. <strong>Someone may think how this is helpful to creator or those who uploads, we provide them with incentive/money for creating useful resources to our platform. More subscriber the publicaion(Creator's Publishing Channel)
				have, more views to their shared resources leads to more incentive*(Quite simple!)</strong>.
					</span>
				</p>
				<div class="about-grids">
					<div class="about-bottom-grids">
						<div class="col-sm-6 about-left">
							<div class="about-left-grids">
								<div class="col-md-2 about-left-img">
									<span class="glyphicon glyphicon-user glyphicon-facetime-video" aria-hidden="true"></span>
								</div>
								<div class="col-md-10 about-left-info">
									<a href="">When We Started</a>
									<p> 23<sup>rd</sup> April, 2016. After a humble start, BitNotes had <strong>1K active user</strong> within a week with <strong>10k+ hits</strong>.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="col-sm-6 about-right">
							<div class="about-left-grids">
								<div class="col-md-2 about-left-img">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								</div>
								<div class="col-md-10 about-left-info">
									<a href="">Community Guidelines</a>
									<p>Read Terms and Conditions, Privacy Policy, Guideline Tips for holding up Values of BitNotes Community.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="about-bottom-grids">
						<div class="col-sm-6 about-left">
							<div class="about-left-grids">
								<div class="col-md-2 about-left-img">
									<span class="glyphicon glyphicon-user glyphicon-book" aria-hidden="true"></span>
								</div>
								<div class="col-md-10 about-left-info">
									<a href="">About Our Site</a>
									<p>Sharing Platform for all the learner belonging to different age groups. Learning continuous process, BitNotes could help you out at every stage. </p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="col-sm-6 about-right">
							<div class="about-left-grids">
								<div class="col-md-2 about-left-img">
									<span class="glyphicon glyphicon-user glyphicon-headphones" aria-hidden="true"></span>
								</div>
								<div class="col-md-10 about-left-info">
									<a href="">New Update</a>
									<p>Relauched with better UI, Faster resource access with new Features.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="about-bottom-grids">
						<div class="col-sm-6 about-left">
							<div class="about-left-grids">
								<div class="col-md-2 about-left-img">
									<span class="glyphicon glyphicon-user glyphicon-folder-open" aria-hidden="true"></span>
								</div>
								<div class="col-md-10 about-left-info">
									<a href="">Careers</a>
									<p>Want to work at BitNotes? Mail us <a href="mailto:cwayconnect@gmail.com" title="BitNotes Email">here</a> with short Introduction about your Skills, Passion and Why you want to Join BitNotes?. We would reach you back!</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="col-sm-6 about-right">
							<div class="about-left-grids">
								<div class="col-md-2 about-left-img">
									<span class="glyphicon glyphicon-user glyphicon-phone" aria-hidden="true"></span>
								</div>
								<div class="col-md-10 about-left-info">
									<a href="#">Contact Us</a>
									<p>Follow us on Social Media. Links are provided in below. Send us mail provided below aside Social Links.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>