<% title "Copyright" %>
<% keyword "Copyright, BitNotes, Legal, Publications, Rules" %>
<% description "Copyright and Policy of BitNotes.Inc "%>
<% author "BitNotes" %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="show-top-grids">
		<div class="main-grids news-main-grids">
			<div class="recommended-info copy-info">
				<h3>Copyright</h3>
				<p class="history-text">Duis iaculis justo nec tellus bibendum rhoncus. Phasellus quis pretium leo, sed porta ligula. Mauris 
					vitae ornare nisi, et dapibus elit. Vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc. Morbi 
					dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus 
					feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et 
					sapien a hendrerit. Etiam viverra maximus dolor, ac tempor sapien.ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus 
					feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et 
					sapien a hendrerit. Etiam viverra maximus dolor.
				</p>
				<ol>
					<li><a href="#">How to manage your content</a></li>
					<li><a href="#">Copyright support and troubleshooting</a></li>
					<li><a href="#">About copyright</a></li>
				</ol>
				<div class="about-grids copy-grids">
					<div class="copy-grid">
						<h4>1.How to manage your content</h4>
						<p>Dapibus elit vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc. Morbi 
							dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus 
							feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et 
							sapien a hendrerit. Etiam viverra maximus dolor.
						</p>
						<div class="about-bottom-grids">
							<div class="col-sm-6 about-left">
								<div class="about-left-grids">
									<div class="col-md-2 about-left-img">
										<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
									</div>
									<div class="col-md-10 about-left-info">
										<a href="#">Lorem ipsum dolor sit amet</a>
										<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-sm-6 about-right">
								<div class="about-left-grids">
									<div class="col-md-2 about-left-img">
										<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
									</div>
									<div class="col-md-10 about-left-info">
										<a href="#">Vivamus ullamcorper</a>
										<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="about-bottom-grids">
							<div class="col-sm-6 about-left">
								<div class="about-left-grids">
									<div class="col-md-2 about-left-img">
										<span class="glyphicon glyphicon-user glyphicon-cd" aria-hidden="true"></span>
									</div>
									<div class="col-md-10 about-left-info">
										<a href="#">Mauris risus mauris</a>
										<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-sm-6 about-right">
								<div class="about-left-grids">
									<div class="col-md-2 about-left-img">
										<span class="glyphicon glyphicon-user glyphicon-copyright-mark" aria-hidden="true"></span>
									</div>
									<div class="col-md-10 about-left-info">
										<a href="#">Duis sem tortor</a>
										<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="copy-grid">
						<h4>2.Copyright support and troubleshooting</h4>
						<p>Dapibus elit vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc. Morbi 
							dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus 
							feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et 
							sapien a hendrerit. Etiam viverra maximus dolor.
						</p>
						<div class="about-bottom-grids">
							<div class="col-sm-6 about-left">
								<div class="about-left-grids">
									<div class="col-md-2 about-left-img">
										<span class="glyphicon glyphicon-user glyphicon-calendar" aria-hidden="true"></span>
									</div>
									<div class="col-md-10 about-left-info">
										<a href="#">Maecenas sed eros</a>
										<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-sm-6 about-right">
								<div class="about-left-grids">
									<div class="col-md-2 about-left-img">
										<span class="glyphicon glyphicon-user glyphicon-cog" aria-hidden="true"></span>
									</div>
									<div class="col-md-10 about-left-info">
										<a href="#">Suspendisse cursus mauris</a>
										<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="about-bottom-grids">
							<div class="col-sm-6 about-left">
								<div class="about-left-grids">
									<div class="col-md-2 about-left-img">
										<span class="glyphicon glyphicon-user glyphicon-globe" aria-hidden="true"></span>
									</div>
									<div class="col-md-10 about-left-info">
										<a href="#">Etiam diam sapien</a>
										<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-sm-6 about-right">
								<div class="about-left-grids">
									<div class="col-md-2 about-left-img">
										<span class="glyphicon glyphicon-user glyphicon-stats" aria-hidden="true"></span>
									</div>
									<div class="col-md-10 about-left-info">
										<a href="#">Cras et massa sit amet</a>
										<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="copy-grid">
						<h4>3.About copyright</h4>
						<p>Dapibus elit vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc. Morbi 
							dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus 
							feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et 
							sapien a hendrerit. Etiam viverra maximus dolor.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>