<% title "Creators"  %>
<% keywords "Creators BitNotes Earn Incentive Fame Share Care Learn"%>
<% description "Creators for BitNotes is Program of BitNotes.Inc by which Publication Earn through Sharing Resources" %>
<% author "BitNotes" %>
<% fbsharetitle "Creators At BitNotes | Educational Sharing Platform" %>
<% fbshareurl "http://bitnotes/creators" %>
<div class="developers">
	<div class="developers-banner creators-banner">
		<!-- container -->
		<div class="container">
			<div class="developers-info">
				<h3>For Creators</h3>
				<p>"Love only grows by <strong>Sharing</strong>. You can only have more for yourself by giving it to others."<br>
				You can help us to accomplish this Mission by Sharing your content with others and Help us Foster happiness of Millions who are in Need !
				</p>
			</div>
		</div>
		<!-- //container -->
	</div>
	<div class="creators-grids">
		<!-- container -->
		<div class="container">
			<div class="col-md-12">
				<iframe width="100%" height="400" src="https://www.youtube.com/embed/xiVa1hBtAEc" frameborder="0" allowfullscreen></iframe>
			</div>
			<br>
			<div class="col-md-4 creators-top-grid">
				<div class="creators-grid">
					<a href="#">Getting started</a>
					<p>You can start Publishing very easily by signing up to BitNotes. Create your Own Publishing House. Publishing House is Banner under which you would publish <strong>Practicals</strong>, <strong>Assignments</strong>, <strong>Examnotes</strong> & <strong>Qpapers</strong>. You can communicate with your audience via Publishing House. Take some <strong>Pictures</strong>, <strong>Edit</strong> and <strong>Upload</strong>. We feel there is Deeper Satisfaction helping Others who are in Need and Get them Out of their problems. <strong>Join</strong> BitNotes and Spread <strong>Happiness</strong> .... </p>
				</div>
			</div>
			<div class="col-md-4 creators-top-grid">
				<div class="creators-grid">
					<a href="#">Education</a>
					<p><strong>Education</strong> is Basic right of everyone of Us. We at <strong> BitNotes</strong> serve as Platform for all the student for sharing their precious resources with each other. Sharing knowledge leds to spreading of knowledge where it won't reach otherwise. We encourage new Creator to create new content help others. We could bridge the gap between people deprived from resources and those with plenty of resources. <strong>Creators</strong> are <strong>rewarded</strong> for sharing the resources with other <strong>BitNoter's</strong></p>
				</div>
			</div>
			<div class="col-md-4 creators-top-grid">
				<div class="creators-grid">
					<a href="#">Community</a>
					<p>We are rapidly <strong>growing</strong> community of <strong>Enthusiatic</strong> people who are ready to share their Practicals, Examnotes, Assignments & Papers. People at BitNotes are <strong>Helpful</strong> and <strong>Caring</strong>. We as a community are together with each other at every Submission, Exam Day or stressfull time of Preparation. Our <strong>Vibrant</strong> Community Helps each other with their valuable resources. We each are Proud to part of Helpful, Caring Community.</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<div class="creators-bottom">
		<!-- container -->
		<div class="container">
			<div class="creators-bottom-grids-info">
				<h3>The sharing platform you will love</h3>
			</div>
			<div class="creators-bottom-grids">
				<div class="col-md-4 creators-bottom-grid">
					<div class="services-icon">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					</div>
					<h4>Share</h4>
					<p>It is Damn Awesome To help Others. Feel the Happiness of Sharing At BitNotes.</p>
				</div>
				<div class="col-md-4 creators-bottom-grid green">
					<div class="services-icon">
						<span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
					</div>
					<h4>United</h4>
					<p>BitNotes is a United Community of Cool People who are there for each other every moment ! </p>
				</div>
				<div class="col-md-4 creators-bottom-grid red">
					<div class="services-icon">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</div>
					<h4>Helpful</h4>
					<p>Together we can do Miracles is grounding principle of Society. So we help Each other to Stay Strong at BitNotes</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
</div>