<div class="developers">
	<div class="developers-banner creators-banner">
		<!-- container -->
		<div class="container">
			<div class="developers-info">
				<h3>For Creators</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit vulputate eleifend. Cras dignissim et massa eu varius. Etiam iaculis tellus id nunc gravida, id fermentum libero porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras commodo commodo luctus.</p>
			</div>
		</div>
		<!-- //container -->
	</div>
	<div class="creators-grids">
		<!-- container -->
		<div class="container">
			<div class="col-md-4 creators-top-grid">
				<div class="creators-grid">
					<a href="single.html">Getting started</a>
					<p>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt. Vestibulum lobortis mauris maximus magna consectetur, non commodo velit vestibulum. Phasellus rutrum odio eu metus dignissim, nec feugiat nisi tempus. Nunc non nibh sagittis, rhoncus neque tempus, efficitur dolor. Suspendisse ornare sapien vitae mauris pharetra, sed eleifend ante luctus. Fusce mollis tortor sit amet ipsum suscipit semper.</p>
				</div>
			</div>
			<div class="col-md-4 creators-top-grid">
				<div class="creators-grid">
					<a href="single.html">Education</a>
					<p>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt. Vestibulum lobortis mauris maximus magna consectetur, non commodo velit vestibulum. Phasellus rutrum odio eu metus dignissim, nec feugiat nisi tempus. Nunc non nibh sagittis, rhoncus neque tempus, efficitur dolor. Suspendisse ornare sapien vitae mauris pharetra, sed eleifend ante luctus. Fusce mollis tortor sit amet ipsum suscipit semper.</p>
				</div>
			</div>
			<div class="col-md-4 creators-top-grid">
				<div class="creators-grid">
					<a href="single.html">Community</a>
					<p>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt. Vestibulum lobortis mauris maximus magna consectetur, non commodo velit vestibulum. Phasellus rutrum odio eu metus dignissim, nec feugiat nisi tempus. Nunc non nibh sagittis, rhoncus neque tempus, efficitur dolor. Suspendisse ornare sapien vitae mauris pharetra, sed eleifend ante luctus. Fusce mollis tortor sit amet ipsum suscipit semper.</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<div class="creators-bottom">
		<!-- container -->
		<div class="container">
			<div class="creators-bottom-grids-info">
				<h3>The video platform you will love</h3>
			</div>
			<div class="creators-bottom-grids">
				<div class="col-md-4 creators-bottom-grid">
					<div class="services-icon">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					</div>
					<h4>Global</h4>
					<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
				</div>
				<div class="col-md-4 creators-bottom-grid green">
					<div class="services-icon">
						<span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
					</div>
					<h4>Engaging</h4>
					<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
				</div>
				<div class="col-md-4 creators-bottom-grid red">
					<div class="services-icon">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</div>
					<h4>Helpful</h4>
					<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
</div>