 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="show-top-grids">
		<div class="main-grids news-main-grids">
			<div class="recommended-info">
				<h3>Data Security and Privacy Policy	</h3>
				<p class="history-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, eros 
					sed suscipit porttitor, diam felis tempus odio, eget sollicitudin purus sem sit amet dolor. Integer euismod 
					non mauris commodo rutrum. Nulla risus felis, rhoncus vel est sed, consequat efficitur ante. Phasellus mi 
					sapien, accumsan vitae lobortis vitae, laoreet dapibus metus. Pellentesque id ipsum vel nibh imperdiet 
					imperdiet ac ac mauris. Suspendisse ac leo augue. Nullam venenatis massa ut pulvinar scelerisque. Duis vel 
					vehicula urna. Quisque semper vitae lectus a feugiat. Sed dignissim egestas nunc, nec suscipit mauris 
					interdum lobortis.
				</p>
				<div class="terms-info">
					<div class="terms-info-grid">
						<h3>1. Personal information</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
						</p>
						<ol>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
						</ol>
					</div>
					<div class="terms-info-grid">
						<h3>2. Other information</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.Mauris 
							cursus rhoncus feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum 
							sit amet. Curabitur vel neque vel sapien pulvinar placerat. Cras eget leo id risus vestibulum 
							dapibus. Class aptent taciti sociosqu 
						</p>
						<ol>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
						</ol>
					</div>
					<div class="terms-info-grid">
						<h3>3. Use of information</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, Mauris cursus rhoncus feugiat. Proin quis 
							nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet. Curabitur vel neque vel 
							sapien pulvinar placerat. Cras eget leo id risus vestibulum dapibus. Class aptent taciti sociosqu eu 
							pretium neque urna nec lorem. Mauris cursus rhoncus Nulla eleifend velit neque, id cursus erat interdum sit amet.
						</p>
						<ol>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
						</ol>
					</div>
					<div class="terms-info-grid">
						<h3>4. Cookies</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.lectus 
							sem tincidunt mauris, Mauris cursus rhoncus feugiat.
						</p>
						<ol>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
						</ol>
					</div>
					<div class="terms-info-grid">
						<h3>5. Vivamus pharetra ante convallis</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, Vivamus pharetra, ante convallis aliquam sodales, 
							arcu dolor consectetur eros, a consequat nisl risus sit amet nuncVivamus pharetra, ante convallis aliquam sodales, 
							arcu dolor consectetur eros, a consequat nisl risus sit amet nuncVivamus pharetra, ante convallis aliquam sodales, 
							arcu dolor consectetur eros, a consequat nisl risus sit amet nuncid cursus erat interdum sit amet.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>6. Security</h3>
						<ol>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
							<li><p class="terms-info-text">Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</li>
						</ol>
					</div>
					<div class="terms-info-grid">
						<h3>7. Access and alteration</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Vivamus pharetra, ante convallis aliquam sodales, arcu dolor consectetur 
							eros, a consequat nisl risus sit amet nuncNulla eleifend velit neque, id cursus erat interdum sit amet.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>