<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="show-top-grids">
		<div class="main-grids news-main-grids">
			<div class="recommended-info">
				<h3>Terms of Service</h3>
				<p class="history-text">BitNotes is a Sharing Platform. BitNotes is an open source bucket of Practicals, Assignments, Archieved Paper, Notes and Lot of other things. We provide Free service for all. 
					<span>
					</span>
				</p>
				<div class="terms-info">
					<div class="terms-info-grid">
						<h3>1. User Guideline and Acceptance</h3>
						<p>
							By using or visiting the BitNotes website or any BitNotes products, software, data feeds, and services provided to you on, from, or through the BitNotes website (collectively the "Service") you signify your agreement to (1) these terms and conditions (the "Terms of Service"), (2) BitNote's Privacy Policy, found at https://www.youtube.in/t/privacy and (3) YouTube's Community Guidelines, found at https://www.youtube.in/t/community_guidelines and also incorporated herein by reference. If you do not agree to any of these terms, the Google Privacy Policy, or the Community Guidelines, please do not use the Service. The Service is provided by YouTube, LLC, which, along with its products and services, is referred to as “YouTube” in these Terms of Service.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>2. Morbi cursus gravida bibendum</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.Mauris 
							cursus rhoncus feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum 
							sit amet. Curabitur vel neque vel sapien pulvinar placerat. Cras eget leo id risus vestibulum 
							dapibus. Class aptent taciti sociosqu 
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>3. Vivamus pharetra ante convallis</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, Mauris cursus rhoncus feugiat. Proin quis 
							nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet. Curabitur vel neque vel 
							sapien pulvinar placerat. Cras eget leo id risus vestibulum dapibus. Class aptent taciti sociosqu eu 
							pretium neque urna nec lorem. Mauris cursus rhoncus Nulla eleifend velit neque, id cursus erat interdum sit amet.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>4. Quisque id metus sed enim ornare</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.lectus 
							sem tincidunt mauris, Mauris cursus rhoncus feugiat.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>5. Vivamus pharetra ante convallis</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, Vivamus pharetra, ante convallis aliquam sodales, 
							arcu dolor consectetur eros, a consequat nisl risus sit amet nuncVivamus pharetra, ante convallis aliquam sodales, 
							arcu dolor consectetur eros, a consequat nisl risus sit amet nuncVivamus pharetra, ante convallis aliquam sodales, 
							arcu dolor consectetur eros, a consequat nisl risus sit amet nuncid cursus erat interdum sit amet.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>6. Morbi cursus gravida bibendum</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>7. Vivamus pharetra ante convallis</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Vivamus pharetra, ante convallis aliquam sodales, arcu dolor consectetur 
							eros, a consequat nisl risus sit amet nuncNulla eleifend velit neque, id cursus erat interdum sit amet.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>8. Lorem ipsum dolor sit amet</h3>
						<p>Pellentesque consequat ligula dui, in Vivamus pharetra, a consequat nisl risus sit amet nuncaliquam libero 
							pellentesque sit amet. Ut viverra, urna vitae volutpat rhoncus, lectus sem tincidunt mauris, eu pretium 
							neque urna nec lorem. Mauris cursus Vivamus pharetra, ante convallis aliquam sodales, arcu dolor consectetur eros, 
							a consequat nisl risus sit amet nuncrhoncus feugiat. Proin quis nisl augue. Nulla eleifend velit neque, 
							id cursus erat interdum sit amet.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>9. Morbi cursus gravida bibendum</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.Vivamus 
							pharetra, ante convallis aliquam sodales, arcu dolor consectetur eros, a consequat nisl risus sit amet 
							nuncVivamus pharetra, ante convallis aliquam sodales, arcu dolor consectetur eros, a consequat nisl risus sit amet nunc
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>10. Vivamus pharetra ante convallis</h3>
						<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae 
							volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus 
							feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>