<% title "Terms" %>
<% keywords "Copyright, Terms, BitNotes, Legal, Publications, Rules" %>
<% description "Copyright and Terms, Policy of BitNotes.Inc "%>
<% author "BitNotes" %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="show-top-grids">
		<div class="main-grids news-main-grids">
			<div class="recommended-info">
				<h3>Terms of Service</h3>
				<p class="history-text">BitNotes is a Sharing Platform. BitNotes is an open source bucket of Practicals, Assignments, Archieved Paper, Notes and Lot of other things. We provide Free service for all. 
					<span>
					</span>
				</p>
				<div class="terms-info">
					<div class="terms-info-grid">
						<h3>1. User Guideline and Acceptance</h3>
						<p>
							By using or visiting the BitNotes website or any BitNotes products, software, data feeds, and services provided to you on, from, or through the BitNotes website (collectively the "Service") you signify your agreement to (1) these terms and conditions (the "Terms of Service"), (2) BitNote's Privacy Policy is <%= link_to "here","#"%>. If you do not agree to any of these terms, the BitNotes Privacy Policy, or the Community Guidelines, please do not use the Service. The Service is provided by BitNotes, which, along with its products and services, is referred to as “BitNotes” in these Terms of Service.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>2. Policy Updates</h3>
						<p>Although we may attempt to notify you when major changes are made to these Terms of Service, you should periodically review the most up-to-date version <%=link_to "here","#" %>. BitNotes may, in its sole discretion, modify or revise these Terms of Service and policies at any time, and you agree to be bound by such modifications or revisions. Nothing in these Terms of Service shall be deemed to confer any third-party rights or benefits.
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>3. Service</h3>
						<p>These Terms of Service apply to all users of the Service, including users who are also contributors of Content on the Service. “Content” includes the text, software, scripts, graphics, photos, sounds, music, videos, audiovisual combinations, interactive features and other materials you may view on, access through, or contribute to the Service. The Service includes all aspects of BitNotes, including but not limited to all products, software and services offered via the BitNotes website, such as the BitNotes Publications etc..
						<p>The Service may contain links to third party websites that are not owned or controlled by BitNotes. BitNotes has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, BitNotes will not and cannot censor or edit the content of any third-party site. By using the Service, you expressly relieve BitNotes from any and all liability arising from your use of any third-party website.</p>
						</p>
						<p>Accordingly, we encourage you to be aware when you leave the Service and to read the terms and conditions and privacy policy of each other website that you visit</p>
					</div>
					<div class="terms-info-grid">
						<h3>4. Accounts</h3>
						<p>In order to access some features of the Service, you will have to create a BitNotes Account. You may never use another's account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify BitNotes immediately of any breach of security or unauthorized use of your account.
						<p>Although BitNotes will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of BitNotes or others due to such unauthorized use.</p>
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>5. General Use of Services</h3>
						<p>You agree not to distribute in any medium any part of the Service or the Content without BitNotes's prior written authorization, unless BitNotes makes available the means for such distribution through functionality offered by the Service (such as the Images).
						</p>
						<p>You agree not to alter or modify any part of the Service.</p>
						<p>You agree not to use the Service for any of the following commercial uses unless 	you obtain BitNotes's prior written approval:
							<ul>
								<li>the sale of access to the Service;</li>
								<li>the sale of advertising, sponsorships, or promotions placed on or within the Service or Content</li>
								<li>the sale of advertising, sponsorships, or promotions on any page of an ad-enabled blog or website containing Content delivered via the Service, unless other material not obtained from BitNotes appears on the same page and is of sufficient value to be the basis for such sales</li>
							</ul>
						</p>
					</div>
					<div class="terms-info-grid">
						<h3>6. Your use of Content</h3>
						<p>The Content on the Service, and the trademarks, service marks and logos ("Marks") on the Service, are owned by or licensed to BitNotes, subject to copyright and other intellectual property rights under the law.
						</p>
						<p>Content is provided to you AS IS. You may access Content for your information and personal use solely as intended through the provided functionality of the Service and as permitted under these Terms of Service. You shall not download any Content unless you see a “download” or similar link displayed by BitNotes on the Service for that Content. You shall not copy, reproduce, make available online or electronically transmit, publish, adapt, distribute, transmit, broadcast, display, sell, license, or otherwise exploit any Content for any other purposes without the prior written consent of BitNotes or the respective licensors of the Content. BitNotes and its licensors reserve all rights not expressly granted in and to the Service and the Content.</p>
						<p>You agree not to circumvent, disable or otherwise interfere with security-related features of the Service or features that prevent or restrict use or copying of any Content or enforce limitations on use of the Service or the Content therein.</p>
						<p>You understand that when using the Service, you will be exposed to Content from a variety of sources, and that BitNotes is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such Content. You further understand and acknowledge that you may be exposed to Content that is inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against BitNotes with respect thereto, and, to the extent permitted by applicable law, agree to indemnify and hold harmless BitNotes, its owners, operators, affiliates, licensors, and licensees to the fullest extent allowed by law regarding all matters related to your use of the Service.</p>
					</div>
				</div>
			</div>
		</div>
	</div>