<div class="developers">
	<div class="developers-banner try-banner">
		<!-- container -->
		<div class="container">
			<div class="developers-info">
				<h3>Try something new!</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit vulputate eleifend. Cras dignissim et massa eu varius. Etiam iaculis tellus id nunc gravida, id fermentum libero porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras commodo commodo luctus.</p>
			</div>
		</div>
		<!-- //container -->
	</div>
	<div class="creators-grids try-grids">
		<!-- container -->
		<div class="container">
			<div class="try-bottom">
				<div class="col-md-4 try-left">
					<div class="try-left-info">
						<h3>For help</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis mattis enim, eu euismod est fringilla id. Phasellus eu justo quis justo laoreet tincidunt vitae quis nulla. Aenean non gravida lectus, quis congue tellus. Nulla gravida, mauris at varius posuere, elit urna aliquet ligula, sit amet maximus nisl lectus nec mi.</p>
					</div>
				</div>
				<div class="col-md-8 try-right">
					<div class="try-right-info">
						<div class="col-md-6 try-right-left">
							<h3>For test</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis mattis enim, eu euismod est fringilla id. Phasellus eu justo quis justo laoreet tincidunt vitae quis nulla. Aenean non gravida lectus, quis congue tellus. Nulla gravida, mauris at varius posuere, elit urna aliquet ligula, sit amet maximus nisl lectus nec mi.</p>
						</div>
						<div class="col-md-6 try-right-left">
							<img src="images/try.jpg" alt="" />
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<div class="creators-bottom">
		<!-- container -->
		<div class="container">
			<div class="creators-bottom-grids-info">
				<h3>The video platform you will love</h3>
			</div>
			<div class="creators-bottom-grids">
				<div class="col-md-4 creators-bottom-grid">
					<div class="services-icon">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					</div>
					<h4>Global</h4>
					<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
				</div>
				<div class="col-md-4 creators-bottom-grid green">
					<div class="services-icon">
						<span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
					</div>
					<h4>Engaging</h4>
					<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
				</div>
				<div class="col-md-4 creators-bottom-grid red">
					<div class="services-icon">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</div>
					<h4>Helpful</h4>
					<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
</div>