<% title "Adventure" %>
<% keywords "Adventure New Photography Earn Share Care Learn" %>
<% description "BitNotes Adventure Program Lets you dive into sharing league with your Photography Skills" %>
<% author "BitNotes" %>
<% fbsharetitle "Adventure At BitNotes | Educational Sharing Platform" %>
<% fbshareurl "http://bitnotes/try" %>
<div class="developers">
	<div class="developers-banner try-banner">
		<!-- container -->
		<div class="container">
			<div class="developers-info">
				<h3>Start a new Adventure!</h3>
				<p><strong>"Everyday, Take chance to do something New. It won't cost much more than Courage it takes to do It."</strong></p>
			</div>
		</div>
		<!-- //container -->
	</div>
	<div class="creators-grids try-grids">
		<!-- container -->
		<div class="container">
			<div class="try-bottom">
				<div class="col-md-12">
					<iframe width="100%" height="400" src="https://www.youtube.com/embed/xiVa1hBtAEc" frameborder="0" allowfullscreen></iframe>
				</div>
				<br>
				<div class="col-md-4 try-left">
					<div class="try-left-info">
						<h3>Getting Started</h3>
						<p> Starting a New <strong>Publication</strong> is great new adventure you could endorse. Publication is way to Publish your <strong>Notes</strong>, <strong>Practicals</strong>, <strong>Assignments</strong>, <strong>Papers</strong>. Publication is way to connect with people and help them out with your resources. Starting Publication is Damn Easy, <strong>Sign In</strong> with your Facebook or Google Account. Add <strong>Info</strong> to Publication Page. Add <strong>social links</strong> to remain in touch with your followers. Add Publication Profile and Cover Image. And there you go to <strong>Upload</strong> your first Resource to share with whole world. </p>
					</div>
				</div>
				<div class="col-md-8 try-right">
					<div class="try-right-info">
						<div class="col-md-6 try-right-left">
							<h3>Benefits</h3>
							<p>We deeply believe, helping other provide us with lot of Satisfaction and High Self Esteem. BitNotes provide you with platform for sharing and helping lot of other needy people.BitNotes also provide you with lot of incentive* for Publishing Work. We are currently developing model to provide you Best Incentive, Analysis of content and Statistics for your Publication. We hope you would make lot of subscriber to your Publication for earning Heavy Incentive. We will soon launch Monetization model and provide you with Sufficient Details.</p>
						</div>
						<div class="col-md-6 try-right-left">
							<%= image_tag "try" %>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<div class="creators-bottom">
		<!-- container -->
		<div class="container">
			<div class="creators-bottom-grids-info">
				<h3>The sharing platform you will love</h3>
			</div>
			<div class="creators-bottom-grids">
				<div class="col-md-4 creators-bottom-grid">
					<div class="services-icon">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					</div>
					<h4>Share</h4>
					<p>It is Damn Awesome To help Others. Feel the Happiness of Sharing At BitNotes. </p>
				</div>
				<div class="col-md-4 creators-bottom-grid green">
					<div class="services-icon">
						<span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
					</div>
					<h4>United</h4>
					<p>BitNotes is a United Community of Cool People who are there for each other every moment !</p>
				</div>
				<div class="col-md-4 creators-bottom-grid red">
					<div class="services-icon">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</div>
					<h4>Helpful</h4>
					<p>Together we can do Miracles is grounding principle of Society. So we help Each other to Stay Strong at BitNotes.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
</div>