=simple_form_for(@college) do |f|
	=f.input :name,placeholder:"What is the name of the College?"
	=f.input :address,placeholder:"Where is college situated?"
	%h2 Images

	#tasks
	=f.simple_fields_for :cimages do |cimage|
		=render "cimage_fields", f: cimage
	.links
		=link_to_add_association "Add Images",f, :cimages, class:"btn btn-success"
	%br
	=f.submit class:"btn btn-primary"