<% title "Trending Institutes" %>
<% keywords "Colleges, Free, BitNotes, Education, Sharing, Caring, Earn, Learn" %>
<% description " Free Trending Colleges from BitNotes" %>
<% author "BitNotes"%>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="main-grids">
		<div class="recommended">
			<div class="recommended-grids">
				<!--render "shared/bitvertiser"  -->
				<div class="recommended-info">
					<h3>Popular Institutes</h3>
				</div>
				<% @recentColleges.each do |college| %>
					<%= render partial: "shared/college", locals:{college: college} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<hr>
	</div>