/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$nprogress-color: #00C2DC;
$nprogress-height: 2px;
$nprogress-zindex: 10100;

@import 'nprogress';
@import 'nprogress-bootstrap';

@import "bootstrap-sprockets";
@import "bootstrap";


.glyphicon-home{
	margin-right: 0em !important;
}
hr{
	border-bottom: 1px solid #e2e2e2;
}
.sidebar hr{
	margin-top: 5px;
	width: 70%;
    margin-bottom: 5px;
    border: 0;
    border: 1px solid #00C2DC;
}
.footer-top hr{
	margin-top: 2px;
	margin-bottom: 3px;
	border-top: 1px dotted #00C2DC;
}

@media screen and (max-width: 600px) {
	input[type="file"]{
		width:90%;
	}
}