=simple_form_for(@qpaper,html:{multipart: true}) do |f|

	=f.input :examname, label: "Title",placeholder:"What is name Question Paper?"
	=f.input :date, label: "Date",hint:"Date of Conduction of Paper",placeholder:"Date of Examination"
	=f.input :subject_id,collection: Subject.all,prompt: "Choose Subject of Paper",label:"Subject Name",hint:"If Subject not Found,add Subject via Upload Link Above"

	=f.input :college_id,collection: College.all,label:"Institute",prompt:"Choose Institute related to Paper",hint:"If Institute not Found,add Your Institute via Upload Link Above",label:"Institute Name"
	=f.input :description, label: "Description", placeholder:"Describe your Paper",input_html:{class:'tinymce'},hint:"Describe the Question Paper"
	%h2 Images

	#tasks
	=f.simple_fields_for :qimages do |qimage|
		=render "qimage_fields", f: qimage
	.links
		=link_to_add_association "Add Images",f, :qimages, class:"btn btn-success"
	%br
	=f.submit class:"btn btn-primary"